:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.textarea {
    width: 500px;
    height: 800px;
    position: relative;
}

textarea.main, textarea.overlay {
    font-size: 30px;
    font-family: sans-serif;
    position: absolute;
    inset: 0;
}

textarea.overlay {
    pointer-events: none;
    /* reset all styles */
    background: transparent;
    border: 1px solid transparent;
    color: rgba(255, 255, 255, 0.4)
    /* text-shadow: none; */
    /* padding: 0;
    margin: 0; */
}

